<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Adding room</title>
</head>
<body>
        <form action="" method="POST">
            {% csrf_token %}
            <label>Name of room
                <input type="text" name="name">
            </label><br>
            <label>Capacity
                <input type="number" name="capacity">
            </label><br>
            <label>Is available
                <input type="checkbox" name="projector">
            </label><br>
            <input type="submit" value="Send">
        </form>
</body>
</html>