<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>All rooms</title>
</head>
<body>
<p>Lista wszystkich sal konferencyjnych</p>

<table>
    <thead>
    <th>id</th>
    <th>Nazwa</th>
    <th>Pojemność</th>
    <th>Dostępność</th>
    <th>Dostępność rzutnika</th>
    </thead>
<tbody>
        {% for room in rooms %}
<tr>
            <th>{{ room.id }}</th>
            <td>
            <a href="/room/{{ room.id }}">{{ room.name }}</a>
            </td>
            <td>{{ room.capacity }}</td>
            {% if room.reserved %}
            <td style="color: #db4437">Zarezerwowana</td>
                {% else %}
            <td style="color: #0C5404">Dostępna</td>
            {% endif %}
            {% if room.projector %}
            <td style="color:green">&#9745</td>
                {% else %}
                <td style="color: red">&#9746</td>
            {% endif %}
            <td><a href="/room/modify/{{ room.id }}">Modify room</a></td>
            <td><a href="/room/delete/{{ room.id }}">Delete room</a></td>
            <td><a href="/room/reserve/{{ room.id }}">Reserve room</a></td>


{#            <th>{{ room.id }}</th>#}
{#            <h3>Rezerwacje</h3>#}
{#            <ul>#}
{#                {% for reservation in reservations %}#}
{#                    <li>#}
{#                    <h4>{{ reservation.date }}</h4>#}
{#                    <p>{{ reservation.comment }}</p>#}
{#                    </li>#}
{#                    {% endfor %}#}
{#            </ul>#}
            </tr>
        {% empty %}
             <tr><td colspan="6">Brak dostępnych sal</td></tr>
        {% endfor %}

</tbody>
</table>

    <h3>Wyszukiwanie</h3>
    <form action="/search" method="get">
        {% csrf_token %}
        <label>Nazwa sali</label>
        <input type="text" name="room-name">
        <label> Minimalna pojemność sali</label>
        <input type="number" step="1" name="capacity">
        <input type="checkbox" name="projector">
        <label>Dostępność rzutnika</label>
        <button type="submit">Szukaj</button>




</body>
</html>