<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>All rooms</title>
</head>
<body>
<p>Lista wszystkich sal konferencyjnych</p>
<table>
    <thead>
    <th>id</th>
    <th>Nazwa</th>
    <th>Ilość miejsc</th>
    <th>Dostępność rzutnika</th>
    </thead>
<tbody>
        {% for room in rooms %}
<tr>
            <th>{{ room.id }}</th>
            <td>
            <a href="room/{{ room.id }}">{{ room.name }}</a>
            </td>
            <td>{{ room.capacity }}</td>
            {% if room.projector %}
            <td style="color:green">&#9745</td>
                {% else %}
                <td style="color: red">&#9746</td>
            {% endif %}
            <td><a href="/room/modify/{{ room.id }}">Modify room</a></td>
            <td><a href="/room/delete/{{ room.id }}">Delete room</a></td>
            <td><a href="/room/reserve/{{ room.id }}">Reserve room</a></td>

{#            <th>{{ room.id }}</th>#}


        </tr>
        {% empty %}
             <tr><td colspan="6">Brak dostępnych sal</td></tr>
        {% endfor %}
</tbody>
</table>

</body>
</html>