<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Rezerwacja sali</title>
</head>
<body>
<div>
    <h2>Nazwa sali: {{ room.name }}</h2>
    <form action="" method="post">
        <div>
            <label>Data rezerwacji</label>
            <input type="date" name="reservation">
        </div>
        <div>
            <label>Komentarz</label>
            <textarea name="comment"></textarea>
        </div>

        <button type="submit">Zarezerwuj</button>
    </form>
</div>


</body>
</html>